html, body{
	width: 100%;
	height: 100%;
	font-size: 16px;
}
#map-canvas{
	width: 70%;
	height: 100%;
	float: left;
}

#message-box{
	width: 30%;
	height: 100%;
	float: left;
}

.mensajes{
	width: 100%;
	height: 100%;
	border:1px solid;
}

.sent-content input{
	width: 100%;
}

.sent-content button{
	width: 100%;
}
